.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 64px;
}

.container img {
  margin: 0 auto;
}

.container h1 {
  font-family: 'Lora', serif;
}

@media (max-width: 420px) {
  .container img {
    width: 100%;
  }
}
